<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>London</title>
    <link href="../styles/first-page.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="first-page">
      <div class="content-wrapper">
        <div class="title-container">
          <a href="second-page.html" class="title-href"><h1 class="title">London</h1></a>
        </div>
        <div class="content-container">
          <p class="main-text">
            London is the capital city of England. Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Molestias modi, facilis omnis aperiam accusantium fugiat perferendis
            asperiores! Rem reprehenderit saepe quasi deleniti temporibus doloremque voluptates
            dignissimos. Nemo dolor laboriosam deserunt?
          </p>
          <h3 class="subtitle">London history</h3>
          <p class="subtitle-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At, fugit!
          </p>
          <svg class="image">
            <circle
              class="circle"
              cx="8%"
              cy="50%"
              r="8%"
              fill="purple"
              stroke="blue"
              stroke-width="2"
            />
            <circle
              class="circle"
              cx="19%"
              cy="50%"
              r="8%"
              fill="purple"
              stroke="blue"
              stroke-width="2"
            />
            <circle
              class="circle"
              cx="30.5%"
              cy="50%"
              r="8%"
              fill="purple"
              stroke="blue"
              stroke-width="2"
            />
            <text
              x="6%"
              y="60%"
              class="image-text"
              fill="orange"
              stroke="darkorange"
              stroke-width="1"
            >
              London
            </text>
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
