<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>London</title>
    <link href="../styles/second-page.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="header">
      <a href="first-page.html">
        <div class="title-container">
          <h3 class="title">London</h3>
        </div>
      </a>
      <div class="header-image-container">
        <img class="header-image" src="../static/london.jpg" alt="sponge-bob" />
      </div>
    </div>
    <div class="content-container">
      <h3 class="subtitle">Etymology</h3>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt eaque quibusdam
        tenetur sequi esse distinctio? Sunt veniam ab enim et minima soluta recusandae. Porro sunt
        unde, mollitia eveniet, provident labore, suscipit animi laborum ad dicta quidem
        necessitatibus maiores voluptate consectetur repellat.
      </p>
      <h3 class="subtitle">Prehistory</h3>
      <p class="text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit accusamus molestiae ex vel
        accusantium eius, odit ipsam hic, quidem debitis, fugiat illo quas iste repudiandae
        consequatur libero. Libero repudiandae velit quas perferendis quisquam. Doloribus corrupti,
        sed repellendus accusamus ad id.
      </p>
      <table class="table">
        <tr>
          <td>Programming</td>
          <td>Web-Design</td>
          <td>Style1</td>
          <td>Style2</td>
          <td>Style3</td>
        </tr>
        <tr>
          <td>Javascript</td>
          <td>Web-Design1</td>
          <td>yes</td>
          <td>no</td>
          <td>yes</td>
        </tr>
        <tr>
          <td>Ruby</td>
          <td>Web-Design2</td>
          <td>no</td>
          <td>no</td>
          <td>no</td>
        </tr>
        <tr>
          <td>Coffee</td>
          <td>Web-Design3</td>
          <td>yes</td>
          <td>no</td>
          <td>no</td>
        </tr>
        <tr>
          <td>PHP</td>
          <td>Web-Design4</td>
          <td>no</td>
          <td>yes</td>
          <td>yes</td>
        </tr>
      </table>
    </div>
  </body>
</html>
